#grille td {
    width: 20px;
    height:  20px;
    text-align: center;
}

#grille tr:nth-child(even) td:nth-child(odd),
#grille tr:nth-child(odd) td:nth-child(even) {
    background-color: rgba(0,0,255,0.2)
}

#grille tr:nth-child(even) td:nth-child(even),
#grille tr:nth-child(odd) td:nth-child(odd) {
    background-color: rgba(128,128,255,0.2)
}

#grille tr td.shoot:nth-child(even),
#grille tr td.shoot:nth-child(odd){
    background: white;
    color: white;
}

#grille tr td.ship:nth-child(even),
#grille tr td.ship:nth-child(odd){
    background: grey;
    color: orange;
}

#grille tr td.best{
    border: 1px solid #f00;
}
